body{
    background-image:url('images/img23.jpg');
    background-size:cover;
    text-align:center;
    font-family: niconne;
    height:100%;
    width:100%;
    color:white;
}

.content-all{
    padding:1rem;
    position:relative;
    top:10rem;
   
    width:30rem;
    text-align:center;
    height:15rem;
    background-color:rgb(0, 0, 0, 0.5); 
    
}

#content{
    font-size:2rem;
   
}
#getStarted{    
position:relative;
top:2rem;
border-radius:1rem;
background-color:pink;
padding-left:1rem;
padding-right:1rem;
font-size: 1.5rem
}
#getStarted:hover{
background-color:rgba(226, 179, 222, 0.808)

}

#getStarted:focus{
outline: none;
font-size:1rem;   
}
.footer{
background-color:pink;
font-size:1.2rem;
position:relative;
top:20rem;
text-align:center;
padding-top:0.5rem;
padding-bottom:0.5rem;
color:black;
}

@media only screen and (max-width: 768px) {
    .content-all{
        padding:1rem;
        position:relative;
        top:8rem;
       
        width:17rem;
        text-align:center;
        height:15.5rem;
        background-color:rgb(0, 0, 0, 0.5); 
        
    }
    
    #content{
        font-size:1.4rem;
       
    }
    #getStarted{    
    position:relative;
    top:1.5rem;
   
    font-size: 1.2rem
    }
}
