body{
    height:100%;
    width:100%;
    padding-top:2rem;
    font-family: niconne;
    font-size:1.2rem;
    background-color:slategrey;

}
.get-quote{
    height:15rem;
    width:95%;
    background-color:rgba(213, 213, 236, 0.808);
    text-align:center;
    border-radius:4%;
    animation: moveInLeft 3s ease-out;
}
.display-quote{
    
    height:60%;
    width:80%;
    background-color:white;
    position:relative;
    top:1rem;
    left:10%;
    padding-top:auto;
    padding-left:1rem;
    padding-right:1rem;
}
.add-quote{
    text-align:center;
    position:relative;
    top:2rem;
    height:12rem;
    width:95%;
    background-color:rgba(213, 213, 236, 0.781);
    border-radius:4%;
    animation: moveInRight 3s ease-out;
   
}
.text-area{
    padding-top:1rem;
    padding-left:1rem;
    padding-right:1rem;
}
.text-area:focus{
    outline:none;
}
.add-quote-btn, .get-quote-btn{
    
    position:relative;
    top:3rem;
    border-radius:1rem;
    background-color:pink;
    padding-left:1rem;
    padding-right:1rem;
  
}
.add-quote-btn:hover, .get-quote-btn:hover{
background-color:rgba(226, 179, 222, 0.808)
}
.add-quote-btn:focus, .get-quote-btn:focus{
    outline: none;   
}
.text-area{
    width:80%;
    height:50%;
    position:relative;
    top:2rem;
   
}
.pictures{
    height:27rem;
    width:95%;
    background-image:url('images/img-11.jpg');
    background-size:cover;
    border:1px;
    border-radius:50%;
    position:relative;
    top:2rem;
    animation: moveInBottom 2s ease-out .75s;
      animation-fill-mode: backwards;
}

.footer{
    background-color:pink;
    font-size:1.2rem;
    position:relative;
    top:6rem;
    text-align:center;
    padding-top:0.5rem;
    padding-bottom:0.5rem;
}


@keyframes moveInLeft {
      0% {
        opacity: 0;
        transform: translateX(-10rem);
      }

      80% {
        transform: translateX(1rem);
      }

      100% {
        opacity: 1;
        transform: translate(0);
      }


    }

    @keyframes moveInRight {
      0% {
        opacity: 0;
        transform: translateX(10rem);
      }

      80% {
        transform: translateX(-1rem);
      }

      100% {
        opacity: 1;
        transform: translate(0);
      }
    }


    @keyframes moveInBottom {
      0% {
        opacity: 0;
        transform: translateY(3rem);
      }

      100% {
        opacity: 1;
        transform: translate(0);
      }
    }


@media only screen and (max-width: 768px) {
    .pictures{
        height:17rem;
   
    
    position:relative;
    top:4rem;
    }
   
    .content{
    padding-left:10%;
}
.get-quote{
    height:25rem;
    width:100%;
   
}
.display-quote{
    
    height:75%;
    width:80%;
    
}

}